# Analyse et nettoyage du jeu de données

In [1]:
import pandas as pd

### Chargement du fichier excel et transformation de chaque feuille en csv

In [2]:
# # Chemin vers le fichier Excel d'entrée
# excel_file_path = 'online_retail_II.xlsx'

# # Charger le fichier Excel en utilisant pandas
# xls = pd.ExcelFile(excel_file_path)

# # Parcourir chaque feuille de calcul du fichier Excel
# for sheet_name in xls.sheet_names:
#     # Charger la feuille de calcul en tant que dataframe
#     data_frame = xls.parse(sheet_name)
    
#     # Chemin vers le fichier CSV de sortie
#     csv_file_path = f'online_retail{sheet_name}.csv'
    
#     # Convertir le dataframe en fichier CSV
#     data_frame.to_csv(csv_file_path, index=False, encoding='utf-8')
    
# print('Conversion terminée.')

### Concaténation des deux feuilles en un fichier csv

In [3]:
# # Chemin vers le premier fichier CSV
# csv_file1 = 'online_retailYear 2009-2010.csv'

# # Chemin vers le deuxième fichier CSV
# csv_file2 = 'online_retailYear 2010-2011.csv'

# # Charger les deux fichiers CSV en utilisant pandas
# data_frame1 = pd.read_csv(csv_file1)
# data_frame2 = pd.read_csv(csv_file2)

# # Concaténer les deux dataframes
# concatenated_data = pd.concat([data_frame1, data_frame2])

# # Chemin vers le fichier CSV de sortie
# output_csv = 'online_retail.csv'

# # Enregistrer le dataframe concaténé en tant que fichier CSV
# concatenated_data.to_csv(output_csv, index=False)

# print('Concaténation terminée.')

## Nettoyage des données

In [4]:
df_ukretail = pd.read_csv('online_retail.csv')

In [751]:
import pandas as pd

# Charger le fichier CSV dans un DataFrame
df_ukretail = pd.read_csv('online_retail.csv')

# Convertir la colonne 'InvoiceDate' en type datetime
df_ukretail['InvoiceDate'] = pd.to_datetime(df_ukretail['InvoiceDate'])

# Filtrer les données pour la période de 2009-2010
df_2009_12_2010 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-12-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2010-12-31'))]

# Générer les nouveaux DataFrames en ajoutant un mois à chaque fois
df_2009_01_2011 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-01-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2011-01-31'))]
df_2009_02_2011 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-01-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2011-02-28'))]
df_2009_03_2011 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-01-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2011-03-31'))]
df_2009_04_2011 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-01-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2011-04-30'))]
df_2009_05_2011 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-01-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2011-05-31'))]
df_2009_06_2011 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-01-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2011-06-30'))]
df_2009_07_2011 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-01-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2011-07-31'))]
df_2009_08_2011 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-01-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2011-08-31'))]
df_2009_09_2011 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-01-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2011-09-30'))]
df_2009_10_2011 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-01-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2011-10-31'))]
df_2009_11_2011 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-01-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2011-11-30'))]
df_2009_12_2011 = df_ukretail[(df_ukretail['InvoiceDate'] >= pd.to_datetime('2009-01-01')) & (df_ukretail['InvoiceDate'] <= pd.to_datetime('2011-12-31'))]

In [752]:
df_2009_12_2010_copy = df_2009_12_2010.copy()
df_2009_01_2011_copy = df_2009_01_2011.copy()
df_2009_02_2011_copy = df_2009_02_2011.copy()
df_2009_03_2011_copy = df_2009_03_2011.copy()
df_2009_04_2011_copy = df_2009_04_2011.copy()
df_2009_05_2011_copy = df_2009_05_2011.copy()
df_2009_06_2011_copy = df_2009_06_2011.copy()
df_2009_07_2011_copy = df_2009_07_2011.copy()
df_2009_08_2011_copy = df_2009_08_2011.copy()
df_2009_09_2011_copy = df_2009_09_2011.copy()
df_2009_10_2011_copy = df_2009_10_2011.copy()
df_2009_11_2011_copy = df_2009_11_2011.copy()
df_2009_12_2011_copy = df_2009_12_2011.copy()

In [7]:
df_ukretail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

In [8]:
df_ukretail.shape

(1067371, 8)

In [9]:
df_ukretail.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.0,United Kingdom

### Identifier les valeurs manquantes

In [738]:
nan_count = df_ukretail.isna().sum()
print(nan_count.sort_values)

<bound method Series.sort_values of Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64>

Garde-t-on les lignes où le client n'est pas identifié ? Sachant qu'on cherche à classifier les clients. Nous faisons le choix de les supprimer.

In [11]:
df_ukretail = df_ukretail.dropna(subset=['Customer ID'])

### Identifier les doublons

Il existe des lignes identiques, mais on ne sait pas si ce sont réellement des doublons ou si cela peut s'expliquer par d'autres informations dont on ne dispose pas. Nous choisissons donc de garder les lignes.

### Conversion des types

In [12]:
df_ukretail['Customer ID'] = df_ukretail['Customer ID'].astype('str')

### Consistance des données

In [13]:
df_ukretail.describe()

            Quantity          Price
count  824364.000000  824364.000000
mean       12.414574       3.676800
std       188.976099      70.241388
min    -80995.000000       0.000000
25%         2.000000       1.250000
50%         5.000000       1.950000
75%        12.000000       3.750000
max     80995.000000   38970.000000

Les lignes où les quantités sont négatives correspondent à des commandes annulées. Il faut les garder pour que les dépenses des clients soient réalistes et s'équilibrent entre la commande puis son annulation.

Les commandes où le prix est à 0 correspond probablement à des cadeaux. Nous choisissons de supprimer les lignes, qui ne nous apprendrons rien sur le comportement des clients.

In [14]:
df_ukretail = df_ukretail[df_ukretail['Price']> 0]

Nous supprimons les lignes où le stockcode est composé uniquement de lettres pour ne pas prendre en compte tout ce qui concerne les frais de port, les tests, qui ne donnent pas de renseignements sur le client.

In [15]:
# Appliquer le filtrage sur la colonne "stock code"
df_ukretail = df_ukretail[~df_ukretail['StockCode'].str.match(r'^[A-Za-z]')]

In [16]:
df_ukretail.describe()

            Quantity          Price
count  820565.000000  820565.000000
mean       12.445481       2.967188
std       188.873328       4.452660
min    -80995.000000       0.030000
25%         2.000000       1.250000
50%         5.000000       1.950000
75%        12.000000       3.750000
max     80995.000000     649.500000

In [17]:
nan_count = df_ukretail.isna().sum()
print(nan_count.sort_values)

<bound method Series.sort_values of Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64>

### Feature engineering

On peut ajouter une colonne qui nous donne le prix unitaire multiplié par la quantité.

In [18]:
df_ukretail['total'] = df_ukretail['Quantity']*df_ukretail['Price']

In [19]:
df_ukretail.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country', 'total'],
      dtype='object')

### Group by

In [20]:
df_gp_invoice = df_ukretail.groupby(['Customer ID','Invoice']).sum().drop('Price',axis=1)
df_gp_invoice

/tmp/ipykernel_131188/2962250399.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df_ukretail.groupby(['Customer ID','Invoice']).sum().drop('Price',axis=1)

                     Quantity     total
Customer ID Invoice
12346.0     499763          5     27.05
            513774         19    142.31
            541431      74215  77183.60
            C541433    -74215 -77183.60
12347.0     529924        509    611.53
...                       ...       ...
18287.0     534346        186    331.50
            554065        488    765.28
            570715        990   1001.32
            573167        108     70.68
            C489592        -2     -5.10

[43876 rows x 2 columns]

In [21]:
df_rfm = df_ukretail.groupby('Customer ID').agg({'Invoice': 'nunique','Quantity':'sum' ,'InvoiceDate': 'max', 'total':'sum'})
# Renommer les colonnes du DataFrame df_rfm
df_rfm.columns = ['NombreCommandes', 'NombreArticles','DateDerniereCommande', 'MontantTotal']

df_rfm

,NombreCommandes,NombreArticles,DateDerniereCommande,MontantTotal
Customer ID,,,,
12346.0,4,24,2011-01-18 10:17:00,169.36
12347.0,8,3286,2011-12-07 15:52:00,5633.32
12348.0,5,2704,2011-09-25 13:13:00,1658.40
12349.0,4,1616,2011-11-21 09:51:00,3654.54
12350.0,1,196,2011-02-02 16:01:00,294.40
...,...,...,...,...
18283.0,22,1731,2011-12-06 12:02:00,2730.70
18284.0,1,493,2010-10-04 11:33:00,411.68
18285.0,1,144,2010-02-17 10:24:00,377.00
18286.0,3,591,2010-08-20 11:57:00,1138.43
18287.0,8,3010,2011-10-28 09:29:00,4127.89

In [22]:
cancelled_orders_count = df_ukretail[df_ukretail['Invoice'].str.startswith('C')].groupby('Customer ID')['Invoice'].nunique()

df_rfm = df_rfm.merge(cancelled_orders_count,how='left',on='Customer ID')
df_rfm['Invoice'] = df_rfm['Invoice'].fillna(0)
df_rfm

,NombreCommandes,NombreArticles,DateDerniereCommande,MontantTotal,Invoice
Customer ID,,,,,
12346.0,4,24,2011-01-18 10:17:00,169.36,1.0
12347.0,8,3286,2011-12-07 15:52:00,5633.32,0.0
12348.0,5,2704,2011-09-25 13:13:00,1658.40,0.0
12349.0,4,1616,2011-11-21 09:51:00,3654.54,1.0
12350.0,1,196,2011-02-02 16:01:00,294.40,0.0
...,...,...,...,...,...
18283.0,22,1731,2011-12-06 12:02:00,2730.70,0.0
18284.0,1,493,2010-10-04 11:33:00,411.68,0.0
18285.0,1,144,2010-02-17 10:24:00,377.00,0.0
18286.0,3,591,2010-08-20 11:57:00,1138.43,1.0
18287.0,8,3010,2011-10-28 09:29:00,4127.89,1.0

In [23]:
df_rfm['NombreCommandes'] = df_rfm['NombreCommandes']-df_rfm['Invoice']
df_rfm

,NombreCommandes,NombreArticles,DateDerniereCommande,MontantTotal,Invoice
Customer ID,,,,,
12346.0,3.0,24,2011-01-18 10:17:00,169.36,1.0
12347.0,8.0,3286,2011-12-07 15:52:00,5633.32,0.0
12348.0,5.0,2704,2011-09-25 13:13:00,1658.40,0.0
12349.0,3.0,1616,2011-11-21 09:51:00,3654.54,1.0
12350.0,1.0,196,2011-02-02 16:01:00,294.40,0.0
...,...,...,...,...,...
18283.0,22.0,1731,2011-12-06 12:02:00,2730.70,0.0
18284.0,1.0,493,2010-10-04 11:33:00,411.68,0.0
18285.0,1.0,144,2010-02-17 10:24:00,377.00,0.0
18286.0,2.0,591,2010-08-20 11:57:00,1138.43,1.0
18287.0,7.0,3010,2011-10-28 09:29:00,4127.89,1.0

In [24]:
df_rfm = df_rfm.rename(columns={'Invoice': 'TransactionAnnulation'})
df_rfm

,NombreCommandes,NombreArticles,DateDerniereCommande,MontantTotal,TransactionAnnulation
Customer ID,,,,,
12346.0,3.0,24,2011-01-18 10:17:00,169.36,1.0
12347.0,8.0,3286,2011-12-07 15:52:00,5633.32,0.0
12348.0,5.0,2704,2011-09-25 13:13:00,1658.40,0.0
12349.0,3.0,1616,2011-11-21 09:51:00,3654.54,1.0
12350.0,1.0,196,2011-02-02 16:01:00,294.40,0.0
...,...,...,...,...,...
18283.0,22.0,1731,2011-12-06 12:02:00,2730.70,0.0
18284.0,1.0,493,2010-10-04 11:33:00,411.68,0.0
18285.0,1.0,144,2010-02-17 10:24:00,377.00,0.0
18286.0,2.0,591,2010-08-20 11:57:00,1138.43,1.0
18287.0,7.0,3010,2011-10-28 09:29:00,4127.89,1.0

In [25]:
# df_rfm['PanierMoyen'] = df_rfm['MontantTotal']/df_rfm['NombreCommandesNonAnnulees']

In [26]:
# df_rfm = df_rfm[df_rfm['NombreCommandesNonAnnulees']>0]

In [27]:
from datetime import datetime

# Convertir la colonne de dates en format datetime
df_rfm['DateDerniereCommande'] = pd.to_datetime(df_rfm['DateDerniereCommande'])

# Calculer le nombre de jours depuis la dernière commande
date_str = '2011-12-10 00:00:00'
date_format = '%Y-%m-%d %H:%M:%S'

date_obj = datetime.strptime(date_str, date_format)
df_rfm['Recency'] = (date_obj - df_rfm['DateDerniereCommande']).dt.days
df_rfm

,NombreCommandes,NombreArticles,DateDerniereCommande,MontantTotal,TransactionAnnulation,Recency
Customer ID,,,,,,
12346.0,3.0,24,2011-01-18 10:17:00,169.36,1.0,325
12347.0,8.0,3286,2011-12-07 15:52:00,5633.32,0.0,2
12348.0,5.0,2704,2011-09-25 13:13:00,1658.40,0.0,75
12349.0,3.0,1616,2011-11-21 09:51:00,3654.54,1.0,18
12350.0,1.0,196,2011-02-02 16:01:00,294.40,0.0,310
...,...,...,...,...,...,...
18283.0,22.0,1731,2011-12-06 12:02:00,2730.70,0.0,3
18284.0,1.0,493,2010-10-04 11:33:00,411.68,0.0,431
18285.0,1.0,144,2010-02-17 10:24:00,377.00,0.0,660
18286.0,2.0,591,2010-08-20 11:57:00,1138.43,1.0,476
18287.0,7.0,3010,2011-10-28 09:29:00,4127.89,1.0,42

In [28]:
df_rfm.describe()

,NombreCommandes,NombreArticles,MontantTotal,TransactionAnnulation,Recency
count,5875.000000,5875.000000,5875.000000,5875.000000,5875.000000
mean,6.228766,1738.268255,2845.071830,1.239489,199.029617
std,12.730293,8606.793299,14099.036502,3.324419,209.401344
min,0.000000,-1086.000000,-1343.240000,0.000000,0.000000
25%,1.000000,187.000000,331.620000,0.000000,24.000000
50%,3.000000,484.000000,854.150000,0.000000,93.000000
75%,7.000000,1352.500000,2214.780000,1.000000,378.000000
max,373.000000,364956.000000,606243.250000,93.000000,738.000000

In [29]:
df_country = df_ukretail[['Customer ID', 'Country']].drop_duplicates()
df_country

        Customer ID         Country
0           13085.0  United Kingdom
12          13078.0  United Kingdom
31          15362.0  United Kingdom
54          18102.0  United Kingdom
71          12682.0          France
...             ...             ...
1059273     15195.0  United Kingdom
1062430     13436.0  United Kingdom
1062716     15520.0  United Kingdom
1063525     13298.0  United Kingdom
1067230     12713.0         Germany

[5887 rows x 2 columns]

In [30]:
df_rfm = df_rfm.merge(df_country,how='left',on='Customer ID')

In [31]:
df_rfm = df_rfm[~((df_rfm['Customer ID']== '13687.0') | (df_rfm['Customer ID']=='13902.0'))]

In [32]:
df_rfm2 = pd.read_csv('df_rfm2.csv')
df_rfm2

      Customer ID  MontantTotal  NombreArticles
0         12346.0      77352.96           74239
1         12347.0       5633.32            3286
2         12348.0       1658.40            2704
3         12349.0       3678.69            1621
4         12350.0        294.40             196
...           ...           ...             ...
5847      18283.0       2730.70            1731
5848      18284.0        411.68             493
5849      18285.0        377.00             144
5850      18286.0       1246.43             607
5851      18287.0       4132.99            3012

[5852 rows x 3 columns]

In [33]:
df_rfm2['Customer ID'] = df_rfm2['Customer ID'].astype('str')

In [34]:
df_rfm = df_rfm.merge(df_rfm2,how='left',on='Customer ID')

In [35]:
df_rfm = df_rfm.drop('NombreArticles_x',axis=1)

In [36]:
df_rfm['PourcentageAnnulationMontant'] = ((df_rfm['MontantTotal_y']-df_rfm['MontantTotal_x'])/df_rfm['MontantTotal_y'])*100

In [37]:
df_rfm = df_rfm[df_rfm['MontantTotal_x']>=0]

In [38]:
df_rfm['NombreArticlesMoyenParCommande'] = df_rfm['NombreArticles_y']/df_rfm['NombreCommandes']

In [39]:
df_rfm['PanierMoyen'] = df_rfm['MontantTotal_y']/df_rfm['NombreCommandes']

In [40]:
df_rfm.to_csv('df_rfm.csv')

In [41]:
df_rfm.describe()

,NombreCommandes,MontantTotal_x,TransactionAnnulation,Recency,MontantTotal_y,NombreArticles_y,PourcentageAnnulationMontant,NombreArticlesMoyenParCommande,PanierMoyen
count,5857.000000,5857.000000,5857.000000,5857.000000,5857.000000,5857.000000,5.857000e+03,5857.000000,5857.000000
mean,6.264811,2855.550917,1.241250,196.789483,2976.719259,1776.826362,2.262317e+00,236.062981,388.044455
std,12.747082,14114.707384,3.331526,207.613895,14593.069299,8432.560062,8.076486e+00,725.426790,1243.094264
min,1.000000,0.000000,0.000000,0.000000,2.950000,1.000000,-2.186601e-14,1.000000,2.950000
25%,1.000000,337.340000,0.000000,24.000000,346.900000,192.000000,0.000000e+00,94.500000,180.940000
50%,3.000000,865.170000,0.000000,91.000000,883.730000,495.000000,0.000000e+00,159.000000,284.068000
75%,7.000000,2237.120000,1.000000,375.000000,2301.390000,1381.000000,1.460018e+00,264.200000,418.073750
max,373.000000,606243.250000,93.000000,738.000000,608821.650000,367072.000000,1.000000e+02,40498.500000,84236.250000

In [42]:
deciles = df_rfm['NombreArticlesMoyenParCommande'].quantile([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9,0.95,0.985])

deciles

0.100      53.000000
0.200      81.766667
0.300     106.000000
0.400     131.000000
0.500     159.000000
0.600     191.920000
0.700     235.030769
0.800     292.826667
0.900     414.100000
0.950     553.800000
0.985    1031.220000
Name: NombreArticlesMoyenParCommande, dtype: float64

In [43]:
seuil = df_rfm['NombreArticlesMoyenParCommande'].quantile(0.95)
df_filtered = df_rfm[df_rfm['NombreArticlesMoyenParCommande'] <= seuil]

In [44]:
import numpy as np

In [45]:
def iqr_outlier(column, lower_multiplier=1.5, upper_multiplier=1.5):
    q1 = column.quantile(0.05)
    q3 = column.quantile(0.95)
    iqr = q3 - q1
    lower_threshold = q1 - lower_multiplier * iqr
    upper_threshold = q3 + upper_multiplier * iqr
    outliers = (column < lower_threshold) | (column > upper_threshold)
    return outliers


def remove_outliers(df, lower_multiplier=1.5, upper_multiplier=1.5):
    df_no_outliers = df.copy()
    for column in df.select_dtypes(include=[np.number]).columns:
        outliers = iqr_outlier(df[column], lower_multiplier, upper_multiplier)
        df_no_outliers = df_no_outliers[~outliers]
    return df_no_outliers

df_no_outliers = remove_outliers(df_rfm)

/tmp/ipykernel_131188/3558140710.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_131188/3558140710.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_131188/3558140710.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_131188/3558140710.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_131188/3558140710.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_131188/3558140710.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_131188/3558140710.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_131188/3558140710.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]

In [46]:
df_no_outliers.to_csv('df_no_outliers.csv')

In [47]:
df_no_outliers

,Customer ID,NombreCommandes,DateDerniereCommande,MontantTotal_x,TransactionAnnulation,Recency,Country,MontantTotal_y,NombreArticles_y,PourcentageAnnulationMontant,NombreArticlesMoyenParCommande,PanierMoyen
1,12347.0,8.0,2011-12-07 15:52:00,5633.32,0.0,2,Iceland,5633.32,3286.0,0.000000e+00,410.750000,704.165000
2,12348.0,5.0,2011-09-25 13:13:00,1658.40,0.0,75,Finland,1658.40,2704.0,1.371042e-14,540.800000,331.680000
3,12349.0,3.0,2011-11-21 09:51:00,3654.54,1.0,18,Italy,3678.69,1621.0,6.564837e-01,540.333333,1226.230000
4,12350.0,1.0,2011-02-02 16:01:00,294.40,0.0,310,Norway,294.40,196.0,0.000000e+00,196.000000,294.400000
5,12351.0,1.0,2010-11-29 15:23:00,300.93,0.0,375,Unspecified,300.93,261.0,0.000000e+00,261.000000,300.930000
...,...,...,...,...,...,...,...,...,...,...,...,...
5880,18283.0,22.0,2011-12-06 12:02:00,2730.70,0.0,3,United Kingdom,2730.70,1731.0,0.000000e+00,78.681818,124.122727
5881,18284.0,1.0,2010-10-04 11:33:00,411.68,0.0,431,United Kingdom,411.68,493.0,0.000000e+00,493.000000,411.680000
5882,18285.0,1.0,2010-02-17 10:24:00,377.00,0.0,660,United Kingdom,377.00,144.0,0.000000e+00,144.000000,377.000000
5883,18286.0,2.0,2010-08-20 11:57:00,1138.43,1.0,476,United Kingdom,1246.43,607.0,8.664747e+00,303.500000,623.215000
5884,18287.0,7.0,2011-10-28 09:29:00,4127.89,1.0,42,United Kingdom,4132.99,3012.0,1.233973e-01,430.285714,590.427143

In [753]:
def clean_monthly_data_copy(df):
    # Supprimer les lignes où le client n'est pas identifié
    df = df.dropna(subset=['Customer ID'])

    # Convertir la colonne 'Customer ID' en type str
    df['Customer ID'] = df['Customer ID'].astype('str')

    # Supprimer les lignes avec un prix <= 0
    df = df[df['Price'] > 0]

    # Supprimer les lignes où le stockcode est composé uniquement de lettres
    df = df[~df['StockCode'].str.match(r'^[A-Za-z]')]

    df = df[df['Quantity']>0]
    
    # Ajouter une colonne 'total' qui représente le prix unitaire multiplié par la quantité
    df['total'] = df['Quantity'] * df['Price']

    # Group by 'Customer ID' et 'Invoice' et calculer les sommes
    df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)

    # Group by 'Customer ID' et calculer les agrégats
    df_rfm = df.groupby('Customer ID').agg({
        'Invoice': 'nunique',
        'Quantity': 'sum',
        'InvoiceDate': 'max',
        'total': 'sum'
    })

    # Renommer les colonnes du DataFrame df_rfm
    df_rfm.columns = ['NombreCommandes', 'NombreArticles', 'DateDerniereCommande', 'MontantTotal']
    df_rfm = df_rfm[['MontantTotal','NombreArticles']]
    df_rfm2 = df_rfm

    return df_rfm2

In [756]:
import pandas as pd
from datetime import datetime

def clean_monthly_data(df, df_rfm2):
    # Supprimer les lignes où le client n'est pas identifié
    df = df.dropna(subset=['Customer ID'])

    # Convertir la colonne 'Customer ID' en type str
    df['Customer ID'] = df['Customer ID'].astype('str')

    # Supprimer les lignes avec un prix <= 0
    df = df[df['Price'] > 0]

    # Supprimer les lignes où le stockcode est composé uniquement de lettres
    df = df[~df['StockCode'].str.match(r'^[A-Za-z]')]

    # Ajouter une colonne 'total' qui représente le prix unitaire multiplié par la quantité
    df['total'] = df['Quantity'] * df['Price']

    # Group by 'Customer ID' et 'Invoice' et calculer les sommes
    df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)

    # Group by 'Customer ID' et calculer les agrégats
    df_rfm = df.groupby('Customer ID').agg({
        'Invoice': 'nunique',
        'Quantity': 'sum',
        'InvoiceDate': 'max',
        'total': 'sum'
    })

    # Renommer les colonnes du DataFrame df_rfm
    df_rfm.columns = ['NombreCommandes', 'NombreArticles', 'DateDerniereCommande', 'MontantTotal']

    # Compter le nombre de commandes annulées par client
    cancelled_orders_count = df[df['Invoice'].str.startswith('C')].groupby('Customer ID')['Invoice'].nunique()

    # Fusionner avec le DataFrame df_rfm
    df_rfm = df_rfm.merge(cancelled_orders_count, how='left', on='Customer ID')
    df_rfm['Invoice'] = df_rfm['Invoice'].fillna(0)

    # Soustraire le nombre de commandes annulées du nombre total de commandes
    df_rfm['NombreCommandes'] = df_rfm['NombreCommandes'] - df_rfm['Invoice']
    df_rfm = df_rfm.rename(columns={'Invoice': 'TransactionAnnulation'})

    # Calculer la valeur de 'Recency' en utilisant une date de référence fixe
    date_str = '2011-12-10 00:00:00'
    date_format = '%Y-%m-%d %H:%M:%S'
    date_obj = datetime.strptime(date_str, date_format)
    df_rfm['DateDerniereCommande'] = pd.to_datetime(df_rfm['DateDerniereCommande'])
    df_rfm['Recency'] = (date_obj - df_rfm['DateDerniereCommande']).dt.days

    # Charger le DataFrame df_rfm2
    df_rfm2 = pd.read_csv('df_rfm2.csv')
    df_rfm2['Customer ID'] = df_rfm2['Customer ID'].astype('str')

    # Fusionner avec le DataFrame df_rfm
    df_rfm = df_rfm.merge(df_rfm2, how='left', on='Customer ID')
    df_rfm = df_rfm.drop('NombreArticles_x', axis=1)

    # Calculer le pourcentage d'annulation de montant
    df_rfm['PourcentageAnnulationMontant'] = ((df_rfm['MontantTotal_y'] - df_rfm['MontantTotal_x']) / df_rfm['MontantTotal_y']) * 100

    # Supprimer les lignes avec un montant total négatif
    df_rfm = df_rfm[df_rfm['MontantTotal_x'] >= 0]

    # Calculer le nombre moyen d'articles par commande
    df_rfm['NombreArticlesMoyenParCommande'] = df_rfm['NombreArticles_y'] / df_rfm['NombreCommandes']

    # Calculer le panier moyen par client
    df_rfm['PanierMoyen'] = df_rfm['MontantTotal_y'] / df_rfm['NombreCommandes']

    # Charger le DataFrame df_country
    df_country = df[['Customer ID', 'Country']].drop_duplicates()

    # Fusionner avec le DataFrame df_rfm
    df_rfm = df_rfm.merge(df_country, how='left', on='Customer ID')
    df_rfm =df_rfm.drop_duplicates(subset='Customer ID')

    return df_rfm

In [757]:
df_list = [
    df_2009_12_2010,
    df_2009_01_2011,
    df_2009_02_2011,
    df_2009_03_2011,
    df_2009_04_2011,
    df_2009_05_2011,
    df_2009_06_2011,
    df_2009_07_2011,
    df_2009_08_2011,
    df_2009_09_2011,
    df_2009_10_2011,
    df_2009_11_2011,
    df_2009_12_2011
]

df_list_copy = [
    df_2009_12_2011_copy,
    df_2009_01_2011_copy,
    df_2009_02_2011_copy,
    df_2009_03_2011_copy,
    df_2009_04_2011_copy,
    df_2009_05_2011_copy,
    df_2009_06_2011_copy,
    df_2009_07_2011_copy,
    df_2009_08_2011_copy,
    df_2009_09_2011_copy,
    df_2009_10_2011_copy,
    df_2009_11_2011_copy,
    df_2009_12_2011_copy
]

for i in range(len(df_list)):
    df_list_copy[i] = clean_monthly_data_copy(df_list_copy[i])
    df_list[i] = clean_monthly_data(df_list[i], df_list_copy[i])

df_2009_12_2010 = df_list[0]
df_2009_01_2011 = df_list[1]
df_2009_02_2011 = df_list[2]
df_2009_03_2011 = df_list[3]
df_2009_04_2011 = df_list[4]
df_2009_05_2011 = df_list[5]
df_2009_06_2011 = df_list[6]
df_2009_07_2011 = df_list[7]
df_2009_08_2011 = df_list[8]
df_2009_09_2011 = df_list[9]
df_2009_10_2011 = df_list[10]
df_2009_11_2011 = df_list[11]
df_2009_12_2011 = df_list[12]

/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/1267390330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/1267390330.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)
/tmp/ipykernel_11348/3717290268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype('str')
/tmp/ipykernel_11348/3717290268.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_gp_invoice = df.groupby(['Customer ID', 'Invoice']).sum().drop('Price', axis=1)

In [758]:
df_no_outliers_2009_12_2010 = remove_outliers(df_2009_12_2010)
df_no_outliers_2009_01_2011 = remove_outliers(df_2009_01_2011)
df_no_outliers_2009_02_2011 = remove_outliers(df_2009_02_2011)
df_no_outliers_2009_03_2011 = remove_outliers(df_2009_03_2011)
df_no_outliers_2009_04_2011 = remove_outliers(df_2009_04_2011)
df_no_outliers_2009_05_2011 = remove_outliers(df_2009_05_2011)
df_no_outliers_2009_06_2011 = remove_outliers(df_2009_06_2011)
df_no_outliers_2009_07_2011 = remove_outliers(df_2009_07_2011)
df_no_outliers_2009_08_2011 = remove_outliers(df_2009_08_2011)
df_no_outliers_2009_09_2011 = remove_outliers(df_2009_09_2011)
df_no_outliers_2009_10_2011 = remove_outliers(df_2009_10_2011)
df_no_outliers_2009_11_2011 = remove_outliers(df_2009_11_2011)
df_no_outliers_2009_12_2011 = remove_outliers(df_2009_12_2011)

/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]
/tmp/ipykernel_11348/3809902450.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[~outliers]

In [ ]:
df_no_outliers_2009_12_2010.to_csv('df_no_outliers_2009_12_2010.csv', index=False)
df_no_outliers_2009_01_2011.to_csv('df_no_outliers_2009_01_2011.csv', index=False)
df_no_outliers_2009_02_2011.to_csv('df_no_outliers_2009_02_2011.csv', index=False)
df_no_outliers_2009_03_2011.to_csv('df_no_outliers_2009_03_2011.csv', index=False)
df_no_outliers_2009_04_2011.to_csv('df_no_outliers_2009_04_2011.csv', index=False)
df_no_outliers_2009_05_2011.to_csv('df_no_outliers_2009_05_2011.csv', index=False)
df_no_outliers_2009_06_2011.to_csv('df_no_outliers_2009_06_2011.csv', index=False)
df_no_outliers_2009_07_2011.to_csv('df_no_outliers_2009_07_2011.csv', index=False)
df_no_outliers_2009_08_2011.to_csv('df_no_outliers_2009_08_2011.csv', index=False)
df_no_outliers_2009_09_2011.to_csv('df_no_outliers_2009_09_2011.csv', index=False)
df_no_outliers_2009_10_2011.to_csv('df_no_outliers_2009_10_2011.csv', index=False)
df_no_outliers_2009_11_2011.to_csv('df_no_outliers_2009_11_2011.csv', index=False)
df_no_outliers_2009_12_2011.to_csv('df_no_outliers_2009_12_2011.csv', index=False)

In [ ]:
import matplotlib.pyplot as plt

# Définir les catégories
categories = ['Récent', 'Moyen', 'Lointain']

# Compter le nombre de clients dans chaque catégorie
counts = df_rfm['Recency'].apply(lambda x: 'Récent' if x <= 300 else ('Moyen' if x <= 600 else 'Lointain')).value_counts()

# Créer le pie plot
plt.pie(counts, labels=categories, autopct='%1.1f%%')

# Ajouter un titre
plt.title('Répartition de la Recency')

# Afficher le pie plot
plt.show()

In [ ]:
plt.hist(df_rfm.PanierMoyen,bins=100)

In [ ]:
import matplotlib.pyplot as plt

# Définir les catégories
categories = ['<188', '<315', '<508','+']

# Compter le nombre de clients dans chaque catégorie
counts = df_rfm['Recency'].apply(lambda x: 'Pas cher' if x <= 188 else ('Moyen' if x <= 315 else ('Moyen +' if x <= 508 else 'Cher'))).value_counts()


# Créer le pie plot
plt.pie(counts, labels=categories, autopct='%1.1f%%')

# Ajouter un titre
plt.title('Répartition du panier moyen')

# Afficher le pie plot
plt.show()